* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /*VARIAVEIS*/
  --bg-color: #EDF2FF;
  --text-color: #00082F;
}

body.dark-blue {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}


.conteiner {

  text-align: center; /*alinhamento de texto*/
  margin: 60px auto;  /*margin do conteiner ou da caixa definindo primeiro altura depois largura*/
  width: 300px;  /*definindo largura da caixa*/
}

img {
  width: 100%;  /*definindo a imagen com 100% da caixa a qual ela pertence CONTEINER no caso*/
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px #4263EB solid;
  padding: 3.7px;
}

h1 {
  font-size: 31px;

  margin-top: 24px;
  margin-bottom: 8px;
  
}

ul {
  margin: 48px 0;
  list-style: none;
}




ul li a {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center;
  background: #4263EB;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

/* EFEITTO DE TRANSIÇÃO ao passar o mouse*/
ul li a:hover {
  background: #364FC7 ;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

footer {
  font-weight: 500;
  font-size: 12px; /*tamanho da font*/
  opacity: 0.6;
  transition: 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}


